div
  animation: background 1s cubic-bezier(1, 0, 0, 1) infinite

@keyframes background
    0%
        background-color: #ECEFF1

    5%
        background-color: #CFD8DC

    10%
        background-color: #B0BEC5

    15%
        background-color: #90A4AE

    20%
        background-color: #78909C

    25%
        background-color: #607D8B

    30%
        background-color: #546E7A

    35%
        background-color: #546E7A

    40%
        background-color: #455A64

    45%
        background-color: #37474F

    50%
        background-color: #263238

    55%
        background-color: #37474F
    
    60%
        background-color: #455A64

    65%
        background-color: #546E7A
    
    70%
        background-color: #546E7A

    75%
        background-color: #607D8B

    80%
        background-color: #78909C

    85%
        background-color: #90A4AE

    90%
        background-color: #B0BEC5

    95%
        background-color: #CFD8DC

    100%
        background-color: #ECEFF1