p
  animation: background 5s cubic-bezier(1, 0, 0, 1) infinite

@keyframes background
    0%
        background-color: #ECEFF1

    10%
        background-color: #CFD8DC

    20%
        background-color: #B0BEC5

    30%
        background-color: #90A4AE

    40%
        background-color: #78909C

    50%
        background-color: #607D8B

    60%
        background-color: #546E7A

    70%
        background-color: #546E7A

    80%
        background-color: #455A64

    90%
        background-color: #37474F

    100%
        background-color: #263238
